.mdl-layout__drawer .mdl-navigation__link .material-icons {
  margin-right: 10px;
}

.mdlx-layout__no-drawer .mdl-layout__header-row {
  padding-left: 40px;
}

.form-error {
  color: #d50000;
  position: absolute;
  font-size: 12px;
  margin-top: 3px;
  display: block;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link.active {
  color: rgb(33,150,243);
  background: #f0f0f0;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  padding-top: 10px;
  padding-bottom: 10px;
}
 
.mdlx-layout__no-drawer .mdl-layout__header-row {
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 1025px) {
  .mdl-layout--fixed-drawer>.mdl-layout__header .mdl-layout__header-row {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (max-width: 1024px) {
  header .mdl-layout-title {
    font-size: 18px;
  }
  
  .mdl-layout__header-row{
    padding-left: calc(72px - 16px);
  }
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  padding-left: 10px;
}

.apps {
  text-align: center;
}
.apps a {
  color: rgb(33,150,243);
}
.apps .material-icons {
  font-size: 48px;
  color: inherit;
}

.mdl-layout__header-row .back-button {
  margin-right: 16px;
}

.mdl-layout__drawer .mdl-navigation {
  padding-top: 0;
}

.mdl-layout__drawer .mdl-navigation hr {
  margin: 0;
}
.mdl-layout__drawer header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 16px;
}

.my-account-name {
  margin-top: 10px;
}

a {
  text-decoration: none;
}

h5.mdl-cell,
h6.mdl-cell {
  padding-top: 15px;
  margin-bottom: 0;
}

@media (max-width: 839px) and (min-width: 480px) {
  .mdl-cell--6-col, .mdl-cell--6-col-tablet.mdl-cell--6-col-tablet {
      width: calc(100% - 16px);
  }  
}

.mdl-cell.buttons {
  min-height: 66px;
}
.mdl-cell.buttons .mdl-button {
  top: 10px;
  float: left;
  margin-right: 10px;
}

.mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen)>.form-footer {
  margin-left: 240px;
  width: calc(100% - 240px);
}

.mdl-layout__header .mdl-button:first-child {
  margin-right: 16px;
}

/* .mdl-menu */
.mdl-menu { padding: 0; }
.mdl-menu__item { line-height: 40px; height: 40px; }
.mdl-menu__item a { text-decoration: none; color: #3e2723; display: block; }
.mdl-menu__item .material-icons { vertical-align: middle; margin-right: 10px; }
.mdl-menu__item button { border: none; outline: none; display: block; margin: 0; padding: 0; background: transparent; line-height: inherit; }

/* .mdlx-data-list */ 
.mdlx-data-list__item { border-bottom: 1px solid #ddd; width: calc(100% - 32px); padding: 6px 16px; }
.mdlx-data-list__item a { display: block; width: 100%; color: #333; }
.mdlx-data-list__item.r { background-color: #fcc; }
.mdlx-data-list__item.r a { color:red; }
.mdlx-data-list__item.y { background-color: #ffc; }
.mdlx-data-list__item.y a { color:darkorange; }
.mdlx-data-list__item.g { background-color: #cfc; }
.mdlx-data-list__item.g a { color:darkgreen; }
    
/* form */
form h5 { font-size: 15px; }
form .mdl-grid { padding-top: 0; padding-bottom: 0; }
form .mdl-layout__content h5:first-of-type { padding-top: 20px; }
form .mdl-layout__content .mdl-cell h5 { margin-top: 0; }

/* .mdl-dialog */
.mdl-dialog__title,
.mdl-dialog__content,
.mdl-dialog__actions { padding: 0; }
.mdl-dialog__title { font-size: 20px; }

/* .data-table */
.mdl-data-table *>tr>* { text-align: left; }
.mdlx-data-table--responsive { width: 100%; min-height: .01%; overflow-x: visible; overflow-y: auto; border: 1px solid rgba(0,0,0,.3); border-bottom: none; }

@media screen and (max-width: 767px) {
  .mdlx-data-table--responsive { overflow-y: hidden; }
  .table-container .mdl-data-table thead { display:none; }
  .table-container .mdl-data-table tr:first-child td { border-top: none; }
  .table-container .mdl-data-table { margin: 0; }
  .table-container.mdl-grid { padding: 0; }
  .table-container .mdl-cell { margin: 0; }
  .table-container .mdlx-data-table--responsive { border: none; }
  .table-container .mdl-data-table>*>tr,
  .table-container .mdl-data-table>*>tr>td { height: auto; }
  .table-container .mdl-data-table>*>tr>* { padding: 8px; }
  .table-container .mdl-data-table>*>tr>*:first-child { padding-left: 16px; }
  .table-container .mdl-data-table>*>tr>*:last-child { padding-right: 16px; }
}

.mdlx-data-table--responsive .mdl-data-table { width: 100%; max-width: 100%; margin: 0; padding: 0; border: none; }

/* .mdl-data-table.condensed */
.mdl-data-table.condensed tr { height: auto; }
.mdl-data-table.condensed td,
.mdl-data-table.condensed th { padding: 2px 5px; height: auto; }

/* .mdl-selectfield */
.mdl-selectfield select { visibility: hidden; }
.mdl-selectfield__list-option-box ul { padding: 0; }
.mdl-selectfield__list-option-box ul>li.is-selected { color: #0091ea; }
.mdl-selectfield__list-option-box ul>li:hover { background-color: #eee; }